<div class="container">
  <div class="row">
      <div class="col-4 p-5">
          <img src="../../assets/logo2.jpg" width="300">
          <!-- hello world -->
      </div>
      <div class="col-8 p-5">
          <h3 class="text-right">אודות</h3>
          <p class="text-right">
            שמי שהם חנה, נשואה לדוד, גרה בפתח תקווה, בוגרת מסלול הנדסאי אדריכלות ועיצוב פנים מטעם מכללת שנקר (לשעבר אוניברסיטת תל-אביב) ושותפה בסטודיו המשמש בית לכמה מעצבים עצמאיים. עם סיום לימודי עבדתי במשך שנתיים במשרד ברעלי לויצקי כסיף אדריכלים ובונים ערים, ובשנת 2017 פתחתי משרד עצמאי המתמחה בתכנון, עיצוב וליווי פרויקטי מגורים ומסחר בדגש על משרדים
            .וחללי עבודה
  
  
            יצירת חלל עבודה מוצלח ואפקטיבי מצריך התמחות של ממש. אופי העבודה בעולם המערבי השתנה במרוצת השנים ללא הכר. בחברות רבות,נדרשים העובדים להימצא במשרד לאורך שעות ארוכות ובתוך כך לשמור על פרודוקטיביות וערנות שיא. כאן, בחלל המשרד, העובד חושב, יוצר ומוביל את החברה, יחד עם עמיתיו ומנהליו, לשיאים חדשים. לתכנון ועיצוב המשרד תפקיד חשוב בכך. לא בכדי רבים מהעסקים דוגלים בתכנון חללים מזמינים, נוחים ומעוצבים המשקפים את ה"אני מאמין" של העסק, מהווים מעין בית שני לעובדים ועומדים לרשות לקוחות החברה. עיצוב המשרד נבנה בשכבות ורבדים: הוא יוצר שיח עם שפת המיתוג הקיימת והממשק הגרפי הנתון, ובמקרים אחרים בונה ומייצר שפה
            .חדשה ועדכנית בהתאם לצרכי החברה  
          </p>
      </div>
  </div>
</div>
  